<html>
      <head>
        <title>Some Web Help Page</title>
    </head>
    <body>
        <h1>
           {{pageTitle}}
        </h1>
        {{> header}}
        <p>Help using the hbs</p>
        <p>we are dynamically rending the page</p>

       {{> footer}}
    </body>
</html>