<html>

<head>
    <title>Project Page</title>
</head>

<body>
    <h1>
        Projects Portfolio..
    </h1>
    {{> header}}
    <h3>List of Projects available in the Repository</h3>
    <h4>
        1) Node Js.
        <br> 2) Java Microservices.
        <br> 3) Angular 2.0 App.
        <br> 4) Projects with ActiveMQ with Java.
        <br> For more projects:
        <br> please follow this link:
        <a href={{linkToFollow}}>Projects to follow</a>
    </h4>
</body>
{{> footer}}

</html>